[flask]
testing=true
login_disabled=true
secret_key="testing_secret_key"

[sentry]
dns=""
traces_sample_rate=1.0

[logging]
level="error"
stderr=true
# for dev/debug purpose, we can have a lower logging level to stderr
# we can also increase the level of werkzeug logger to avoid stderr flooding
level_stderr="info"
level_werkzeug="warning"
# journald requires systemd-python to enable
journald=false

[google]
client_id=""
client_secret=""

[mongo]
initdb_root_username="mongoadmin"
initdb_root_password="secret_passowrd_okay"
connection_string="mongodb://mongoadmin:secret_passowrd_okay@mongodb:27017/?authSource=admin&readPreference=primary&retryWrites=true&w=majority&tlsAllowInvalidCertificates=true&ssl=false"

[translation]
translations_folder="static/locales"
available_languages=["en", "fr"]

[settings.default_values]
nbr_items_per_page=25
dark_mode=false
language="en"


[clusters.mila]
account_field="mila_cluster_username"
update_field=false
allocations="*"
timezone="America/Montreal"
organization="Mila"
nbr_cpus=4860
nbr_gpus=532
official_documentation="https://docs.mila.quebec/Information.html"
display_order=1
remote_user="mila-automation"
remote_hostname="clockwork-stats"
sacct_enabled=true
sacct_path="/opt/slurm/bin/sacct"
sinfo_path="/opt/slurm/bin/sinfo"
ssh_key_filename="id_clockwork"
ssh_port=22

[clusters.beluga]
account_field="cc_account_username"
update_field="cc_account_update_key"
allocations=["def-patate-rrg", "def-pomme-rrg", "def-cerise-rrg", "def-citron-rrg"]
timezone="America/Montreal"
organization="Digital Research Alliance of Canada"
nbr_cpus=1950
nbr_gpus=696
official_documentation="https://docs.alliancecan.ca/wiki/B%C3%A9luga"
mila_documentation="https://docs.mila.quebec/Extra_compute.html#beluga"
display_order=4
remote_user="mila-automation"
remote_hostname="beluga.computecanada.ca"
sacct_enabled=false
sacct_path="/opt/software/slurm/bin/sacct"
sinfo_path="/opt/software/slurm/bin/sinfo"
ssh_key_filename="id_clockwork"
ssh_port=22

[clusters.graham]
account_field="cc_account_username"
update_field="cc_account_update_key"
allocations=["def-patate-rrg", "def-pomme-rrg", "def-cerise-rrg", "def-citron-rrg"]
timezone="America/Toronto"
organization="Digital Research Alliance of Canada"
nbr_cpus=2660
nbr_gpus=536
official_documentation="https://docs.alliancecan.ca/wiki/Graham"
mila_documentation="https://docs.mila.quebec/Extra_compute.html#graham"
display_order=5
remote_user="mila-automation"
remote_hostname="graham.computecanada.ca"
sacct_enabled=false
sacct_path="/opt/software/slurm/bin/sacct"
sinfo_path="/opt/software/slurm/bin/sinfo"
ssh_key_filename="id_clockwork"
ssh_port=22

[clusters.cedar]
account_field="cc_account_username"
update_field="cc_account_update_key"
allocations=["def-patate-rrg", "def-pomme-rrg", "def-cerise-rrg", "def-citron-rrg"]
timezone="America/Vancouver"
organization="Digital Research Alliance of Canada"
nbr_cpus=4948
nbr_gpus=1352
official_documentation="https://docs.alliancecan.ca/wiki/Cedar"
mila_documentation="https://docs.mila.quebec/Extra_compute.html#cedar"
display_order=3
remote_user="mila-automation"
remote_hostname="cedar.computecanada.ca"
sacct_enabled=false
sacct_path="/opt/software/slurm/bin/sacct"
sinfo_path="/opt/software/slurm/bin/sinfo"
ssh_key_filename="id_clockwork"
ssh_port=22

[clusters.narval]
account_field="cc_account_username"
update_field="cc_account_update_key"
allocations=["def-patate-rrg", "def-pomme-rrg", "def-cerise-rrg", "def-citron-rrg"]
timezone="America/Montreal"
organization="Digital Research Alliance of Canada"
nbr_cpus=2608
nbr_gpus=636
official_documentation="https://docs.alliancecan.ca/wiki/Narval"
display_order=2
remote_user="mila-automation"
remote_hostname="narval.computecanada.ca"
sacct_enabled=false
sacct_path="/opt/software/slurm/bin/sacct"
sinfo_path="/opt/software/slurm/bin/sinfo"
ssh_key_filename="id_clockwork"
ssh_port=22

[clockwork.test]
email="student01@mila.quebec"
api_key="000aaa01"
