Babel==2.13.1
blinker==1.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
Flask==3.0.0
flask-babel==4.0.0
Flask-Login @ git+https://github.com/maxcountryman/flask-login.git@ea80968c10f3d521ea4983652f183aa42e2f44fc
idna==3.8
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.3
oauthlib==3.2.2
pymongo==4.6.3
pytz==2023.3.post1
requests==2.32.3
sentry-sdk==2.14.0
toml==0.10.2
urllib3==2.2.2
Werkzeug==3.0.4
