{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title float-start">
                    <i class="fa-solid fa-user"></i>
                    <h1>
                        <a href="{{ url_for('admin.panel') }}">{{ gettext("Administration panel") }}</a> /
                        <a href="{{ url_for('admin.users') }}">{{ gettext("Users") }}</a> /
                        {{ D_user["mila_email_username"] }}
                    </h1>
                </div>
            </div>
        </div>

        {% if user_edit_status %}
        <div class="row mb-4 text-center">
            <h3><strong>{{ user_edit_status }}</strong></h3>
        </div>
        {% endif %}

        <form method="post">
            <div class="row mb-4">
                <table class="table table-striped table-hover table-responsive table-jobs">
                    <tbody>
                        {% for cluster_username_field in D_clusters_usernames_fields %}
                        <tr>
                            <td>
                                {{ cluster_username_field }}
                            </td>
                            <td>
                                <input type="text" name="{{ cluster_username_field }}" value="{{ D_user[cluster_username_field] or '' }}"/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-turquoise mx-2" href="{{url_for('admin.users')}}">
                        {{ gettext("Cancel") }}
                    </a>
                    <button type="submit" class="btn btn-turquoise mx-2">
                        {{ gettext("Save") }}
                    </button>
                </div>
            </div>
        </form>


    </div>
{% endblock %}
