{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title float-start">
                    <i class="fa-solid fa-user"></i>
                    <h1>{{ gettext("Administration panel") }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-turquoise" href="{{url_for('admin.users')}}">
                {{ gettext("Manage users") }}
            </a>
        </div>
    </div>
{% endblock %}
