<!DOCTYPE html>
<html lang="en">
	<head>
			{% block head %}
			<!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/> -->
			<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwork_cluster.css') }}"> -->
			<link rel="stylesheet" href="{{ url_for('static', filename='css/pygment_trac.css') }}">
			<link href="{{ url_for('static', filename='css/fontawesome.min.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename='css/solid.min.css') }}" rel="stylesheet">

			<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

			<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
			<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
			<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
			<link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}">
			<link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
			<link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">

			<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

			<script type="text/javascript" src="{{ url_for('static', filename='js/sortable.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/livestamp.min.js') }}"></script>

            <script type="text/javascript">
				// We need to prevent autoescape of this in order to have a proper variable
				// without some clumsy escaping of the single quotes that messes up the representation
				// and sabotages the attempt at JSON.parse({{web_settings}})
				// This works but bites the dusk with "False" not being a thing in JS.
				//     var web_settings2 = {% autoescape false %} {{web_settings}} {% endautoescape %}
				// This works and seems like a safer route because it might help contain certain accidental errors.
				var web_settings = {% autoescape false %} JSON.parse('{{web_settings_json_str}}') {% endautoescape %}
            </script>

            {% if web_settings["dark_mode"] ==  true %}
				<link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
			{% endif %}

			<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}"> -->


			<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>

			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-config" content="{{ url_for('static', filename='favicons/browserconfig.xml') }}">
			<meta name="theme-color" content="#ffffff">

			<title>Clockwork - {% block title %}{% endblock %}</title>
			{% endblock %}
	</head>
	<body>
		<!-- delete or change this as needed -->
		<div class="ribbon alpha">
			<h4><span>{{ gettext("Alpha version!") }}</span></h4>
			<p>{{ gettext("Clockwork is currently in active development. Feel free to report bugs using the <a href='#'>feedback form</a>.") }}</p>
		</div>

		<div class="container-fluid">
			<div class="top align-items-center row">
				<div class="col-xl-1 d-none d-xl-block"></div>
				<div class="col">
					<a href="{{url_for('index')}}">
						{% if web_settings["dark_mode"] ==  true %}
							<img class="logo" src="{{ url_for('static', filename='images/dark-logo_cw.png')}}" />
						{% else %}
							<img class="logo" src="{{ url_for('static', filename='images/logo_cw.png')}}" />
						{% endif %}
					</a>
				</div>
				{% if current_user.is_authenticated() %}
				<div class="col">
					<nav class="navbar-expand-lg">
						<div class="container-fluid">
						    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						      <span class="navbar-toggler-icon"></span>
						    </button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mb-2 mb-lg-0">
									<li class="nav-item"><a class="nav-link" href="{{url_for('index')}}"><i class="fa-solid fa-gauge"></i>{{ gettext("Dashboard") }}</a></li>
									<li class="nav-item"><a class="nav-link" href="{{url_for('jobs.route_search')}}"><i class="fa-solid fa-list-check"></i>{{ gettext("Jobs") }}</a></li>
									<!-- Temporarily hidden
										<li class="nav-item"><a class="nav-link" href="{{url_for('jobs.route_index')}}"><i class="fa-solid fa-circle-nodes"></i>{{ gettext("Clusters") }}</a></li>-->
									<li class="nav-item"><a class="nav-link" href="{{url_for('settings.route_index')}}"><i class="fa-solid fa-gears"></i>{{ gettext("Settings") }}</a></li>

									 <li class="nav-item dropdown">
							        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-arrow-up-right-from-square"></i>{{ gettext("External") }}</a>
						        		<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								            <li><h3>Mila</h3></li>
											<li><a class="dropdown-item" href="https://dashboard.server.mila.quebec" target="_blank">{{ gettext("Dashboard") }}</a></li>
											<li><a class="dropdown-item" href="https://docs.mila.quebec" target="_blank">{{ gettext("Documentation") }}</a></li>
											<li><hr class="dropdown-divider"></li>
											<li><h3>Clockwork</h3></li>
											<li><a class="dropdown-item" href="#" target="_blank">{{ gettext("Documentation") }}</a></li>
											<li><a class="dropdown-item" href="#" target="_blank">Github</a></li>
											{% if current_user["admin_access"] == true %}
												<li><a class="dropdown-item" href="{{url_for('admin.panel')}}" target="_blank"><i class="fa-solid fa-gears"></i>{{ gettext("Admin") }}</a></li>
											{% endif %}
						        		</ul>
							        </li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				{% endif %}
				<div class="col login">
					<!-- TODO : add a conditional here in the template -->
					{% if mila_email_username: %}
						<div class="btn-group dropstart">
							<a class="user_loggedin" data-bs-toggle="dropdown" data-bs-offset="-34,20" aria-expanded="false" href="#"><i class="fa-solid fa-user-check"></i></a>
							<div class="dropdown-menu">
								<div class="triangle-right"></div>
								<p>{{ gettext("Logged in as") }} <strong>{{mila_email_username}}</strong></p>
								<a class="btn" href="{{url_for('login.route_logout')}}">{{ gettext("Logout?") }}<i class="fa-solid fa-person-to-portal"></i></a>
							</div>
						</div>
					{% else %}
						<!-- not logged in -->
					{% endif %}
				</div>
				<div class="col-xl-1 d-none d-xl-block"></div>
			</div>
		</div>

		{% block form %}
		{% if request.path != '/jobs/dashboard' and current_user.is_authenticated() %}
			<!-- Search jobs form -->
			<div id="formBlock">
				<div class="search_button formCollapse {{ 'collapse' if request.path != '/jobs/search' }} {{ 'show' if request.path == '/jobs/search' }}" id="mainCollapse">
					<div class="container">
						<div class="row">
			                <div class="col-12">
			                    <div class="title float-end">
			                        <i class="fa-solid fa-magnifying-glass"></i>
			                        <h1><a data-bs-toggle="collapse" data-bs-target=".formCollapse" aria-expanded="false" href="#mainCollapse #collapseForm" aria-controls="mainCollapse collapseForm"><i class="fa-solid fa-circle-plus"></i>{{ gettext("SEARCH") }}</a></h1>
			                    </div>
			                    <!-- <a class="btn" onclick="server_refresh()">refresh</a> -->
			                </div>
			            </div> <!-- end header row -->
			        </div>

					<div class="searchform formCollapse {{ 'collapse' if request.path != '/jobs/search' }} {{ 'show' if request.path == '/jobs/search' }}" id="collapseForm">
				        <div class="container">
				            <form class="searchform" method="get">
				                <div class="row">
				                    <!-- users -->
				                    <div class="col-sm-12 col-md-4">
				                        <div class="cc_toggle_zone_column user_group">
				                            <div class="cc_toggle_zone_row row_title">
				                                <span>{{ gettext("Filter by user") }}</span>
				                            </div>

											{# Define which radio button check for the username #}
											{% set username_checked = false %}

											<!-- All users option -->
				                            <div class="cc_toggle_zone_row form-radio">
												{% if "username" not in previous_request_args or previous_request_args["username"] is none %}
													{# Create the radio box as checked #}
				                                	<input class="form-check-input" id="user_option_all" name="username" type="radio" checked data-no-submit />
													{# Indicate that a radio box has been checked #}
													{% set username_checked = true %}
												{% else %}
													{# Create the radio box as unchecked #}
													<input class="form-check-input" id="user_option_all" name="username" type="radio" data-no-submit />
												{% endif %}
				                                <label for="user_option_all" class="form-label">
				                                    <span>{{ gettext("All users") }}</span>
				                                </label>
				                            </div>

											<!-- Current user option -->
				                            <div class="cc_toggle_zone_row form-radio">
												{% if previous_request_args["username"] == mila_email_username %}
													{# Create the radio box as checked #}
				                                	<input class="form-check-input" id="user_option_only_me" name="username" value="{{mila_email_username}}" type="radio" checked data-no-submit />
													{# Indicate that a radio box has been checked #}
													{% set username_checked = true %}
												{% else %}
													{# Create the radio box as unchecked #}
													<input class="form-check-input" id="user_option_only_me" name="username" value="{{mila_email_username}}" type="radio" data-no-submit />
												{% endif %}
				                                <label for="user_option_only_me" class="form-label">
				                                    <span>{{ gettext("Only me") }}</span>
				                                </label>
				                            </div>

											<!-- Other user option -->
				                            <div class="cc_toggle_zone_row form-radio form-check-group">
												{% if username_checked == false %}
													{# Create the radio box as checked #}
													<input class="form-check-input" id="user_option_other" name="username" type="radio" checked />
													<label for="user_option_other" class="form-label">
				                                    	<input type="text" class="form-control" id="user_option_other_textarea" name="username" placeholder="{{ gettext('Other user...') }}" value="{{previous_request_args['username']}}" data-no-submit>
													</label>
												{% else %}
													{# Create the radio box as unchecked #}
													<input class="form-check-input" id="user_option_other" name="username" type="radio" />
													<label for="user_option_other" class="form-label">
														<input type="text" class="form-control" id="user_option_other_textarea" name="username" placeholder="{{ gettext('Other user...') }}" disabled="disabled" data-no-submit>
													</label>
												{% endif %}
											</div>
				                        </div>
				                    </div>

				                    <!-- toggling clusters -->
				                    <div class="col-sm-12 col-md-4">
				                        <div class="cc_toggle_zone_column">
				                            <div class="cc_toggle_zone_row row_title">
				                                <span>{{ gettext("Filter by cluster") }}</span>
				                            </div>

											{% for cluster_name,D_cluster in clusters.items()|sort(attribute='1.display_order', reverse=False) %}
												<!-- toggle for a cluster-->
												<div class="cc_toggle_zone_row">
													<!-- official documentation-->
													{% if D_cluster['official_documentation'] %}
														<a href="{{D_cluster['official_documentation']}}" target="_blank">
															<i class="fa-solid fa-layer-group" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ gettext('Cluster documentation') }}"></i>
														</a>
													{% else %}
														<a class="disabled">
															<i class="fa-solid fa-layer-group" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ gettext('No documentation available') }}"></i>
														</a>
													{% endif %}
													<!-- Grafana -->
													<a href="https://dashboard.server.mila.quebec/" target="_blank">
														<i class="fa-solid fa-file-lines" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ gettext('Grafana cluster link') }}"></i>
													</a>
													{% if D_cluster['status']['jobs_are_old'] %}
														<span class="cluster-info cluster-warning">
															<i class="fa-solid fa-triangle-exclamation" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ gettext('Possible stale jobs. Most recent update was more than 30 days ago') }}"></i>
														</span>
													{% else %}
														<span class="cluster-info cluster-good">
															<i class="fa-solid fa-ballot-check" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ gettext('Latest update to jobs is relatively recent (at most 30 days ago)') }}"></i>
														</span>
													{% endif %}
													{% if D_cluster['status']['cluster_has_error'] %}
														<span class="cluster-info cluster-error">
															<i class="fa-solid fa-octagon-exclamation" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ gettext('A cluster error occurred recently') }}"></i>
														</span>
													{% else %}
														<span class="cluster-info cluster-good">
															<i class="fa-solid fa-octagon-check" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ gettext('No recent cluster error') }}"></i>
														</span>
													{% endif %}
													<!-- cluster toggle -->
													<div class="cc_cluster_toggle_subzone form-check form-switch">
														{% if cluster_name in user_clusters %}
															<label class="form-check-label cc_cluster_toggle_name" for="cluster_toggle_lever_{{cluster_name}}">{{cluster_name}}</label>
															{% if "cluster_name" not in previous_request_args or previous_request_args["cluster_name"] is none or cluster_name in previous_request_args["cluster_name"] or previous_request_args["cluster_name"]|length == 0 %}
															<input class="form-check-input float-end" type="checkbox" id="cluster_toggle_lever_{{cluster_name}}" name="cluster_name" value="{{cluster_name}}" checked data-no-submit>
															{% else %}
															<input class="form-check-input float-end" type="checkbox" id="cluster_toggle_lever_{{cluster_name}}" name="cluster_name" value="{{cluster_name}}" data-no-submit>
															{% endif %}
														{% else %}
															<label class="form-check-label cc_cluster_toggle_name disabled" for="cluster_toggle_lever_{{cluster_name}}">{{cluster_name}}</label>
															<input class="form-check-input float-end" type="checkbox" id="cluster_toggle_lever_{{cluster_name}}" name="cluster_name" value="{{cluster_name}}" data-no-submit disabled="disabled">
														{% endif %}
													</div>
												</div>
											{% endfor %}
				                        </div>
				                    </div>

				                    <!-- toggling status -->
				                    <div class="col-sm-12 col-md-4">
				                        <div class="cc_toggle_zone_column">
				                            <div class="cc_toggle_zone_row row_title">
				                                <span>{{ gettext("Filter by status") }}</span>
				                            </div>

											{% for state in [
													{
														"value": "COMPLETED",
														"input_id": "status_toggle_lever_completed",
														"span_class": "completed",
														"label": "Completed"
													},
													{
														"value": "RUNNING",
														"input_id": "status_toggle_lever_running",
														"span_class": "running",
														"label": "Running"
													},
													{
														"value": "PENDING",
														"input_id": "status_toggle_lever_pending",
														"span_class": "pending",
														"label": "Pending"
													},
													{
														"value": "FAILED",
														"input_id": "status_toggle_lever_any_errors",
														"span_class": "failed",
														"label": "Any errors"
													}
												]
											%}
												<div class="cc_toggle_zone_row">
													<div class="cc_cluster_toggle_subzone form-check form-switch">
														<label class="form-check-label" for="{{state['input_id']}}" class="{{state['input_id']}}"><span class="status {{state['span_class']}}">{{state['label']}}</span></label>
														{% if state["value"] in previous_request_args["aggregated_job_state"] or previous_request_args["aggregated_job_state"]|length == 0 %}
															{# Create a checked toggle button #}
															<input class="form-check-input float-end" type="checkbox" name="aggregated_job_state" id="{{state['input_id']}}" value="{{state['value']}}" checked data-no-submit>
														{% else %}
															{# Create an unchecked toggle button #}
															<input class="form-check-input float-end" type="checkbox" name="aggregated_job_state" id="{{state['input_id']}}" value="{{state['value']}}" data-no-submit>
														{% endif %}
													</div>
												</div>
											{% endfor %}
				                        </div>
				                    </div>
				                </div> <!-- end search form row-->

                                <input type="hidden" name="sort_by" value="{{ previous_request_args['sort_by'] }}"/>
                                <input type="hidden" name="sort_asc" value="{{ previous_request_args['sort_asc'] }}"/>
                                {% if previous_request_args['job_array'] is not none %}
                                <input type="hidden" name="job_array" value="{{ previous_request_args['job_array'] }}"/>
                                {% endif %}

				                 <div class="row align-items-center">
									 <!-- Deselection buttons for search options that are not in search form  -->
									 <div class="col-sm-12 col-md-8 pb-3 deactivate-search">
										 {% if previous_request_args['job_array'] is not none %}
										 <a href="{{ modify_query(job_array=none) }}" title="Reset filter by job array" class="px-3 py-2">
											 Job array {{ previous_request_args['job_array'] }}&nbsp;&nbsp;&nbsp;&nbsp;
											 <i class="fa-solid fa-circle-xmark" style="color: #888a85;"></i>
										 </a>
										 {% endif %}
									 </div>
				                    <!-- button -->
				                    <div class="col-sm-12 col-md-4 offset-md-8">
				                        <button type="submit" class="btn btn-red mb-3">{{ gettext("Run search") }}</button>
				                    </div>
				                </div>
				            </form>

				        </div> <!-- end header container -->
				    </div>
				</div>
			</div>
		{% endif %}
		{% endblock %}


		{% block content %}{% endblock %}

		{% block footer %}
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-6">
							&copy; 2022 MILA. All rights reserved.
						</div>
						<div class="col-6">
							<a href="">{{ gettext("Feedback and bug reports") }}</a> | <a href="">{{ gettext("Privacy policy") }}<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}

</body>
</html>
