{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
		{{ super() }}
		<style type="text/css">
				{{extra_css}}
		</style>
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}"> -->
		<script>
				{% autoescape false %}
				{{extra_js}}
				{% endautoescape %}

		</script>

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="title float-start">
                        <i class="fa-solid fa-list"></i>
						<h1>{{ gettext("%(cluster_name)s cluster", cluster_name=cluster_name ) }}
					</div>
				</div>
			</div>
		</div>
		<div class="row single_cluster">

			<div class="col">
				<table class="table table-striped table-hover table-responsive" id="search_table">
					<tbody>
						<thead>
							<tr>
								<th colspan="2">{{ gettext("Global information") }}</th>
							</tr>
						</thead>
						{% if cluster['organization'] %}
							<tr>
								<td>{{ gettext("Organization") }}</td>
								<td>{{cluster['organization']}}</td>
							</tr>
						{% endif %}

						<tr>
							<td>{{ gettext("Timezone") }}</td>
							<td>{{cluster['timezone']}}</td>
						</tr>

						{% if cluster['official_documentation'] or cluster['mila_documentation'] %}
							<tr>
								<td>{{ gettext("More information") }}</td>
								<td>
									<ul>
										{% if cluster['official_documentation'] %}
											<li style="list-style-type: circle;">
												<a href="{{cluster['official_documentation']}}">{{ gettext("See the official documentation") }}</a>
											</li>
										{% endif %}

										{% if cluster['mila_documentation'] %}
											<li style="list-style-type: circle;">
												<a href="{{cluster['mila_documentation']}}">{{ gettext("See additional Mila documentation") }}</a>
											</li>
										{% endif %}
									</ul>
								</td>
							</tr>
						{% endif %}
						<tr>
							<td><a href="/jobs/search?cluster_name={{cluster_name}}">{{ gettext("Display all the jobs on this cluster") }}</a></td>
							<td><a href="/nodes/list?cluster_name={{cluster_name}}">{{ gettext("Display all the nodes of this cluster") }}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Annual allocation -->

		{% if cluster['nbr_cpus'] != 0 or cluster['nbr_gpus'] != 0 %}
			<div class="row">
				<div class="col">
					<table class="table table-striped table-hover table-responsive" id="search_table">
						<thead>
							<tr>
								<th>{{ gettext("Annual allocation") }}</th>
							</tr>
						</thead>
						<tbody>
							{% if cluster['nbr_cpus'] != 0 %}
								<tr>
									<td>{{ gettext("%d CPUs" % cluster['nbr_cpus']) }}</td>
								</tr>
							{% endif %}

							{% if cluster['nbr_gpus'] != 0 %}
								<tr>
									<td>{{ gettext("%d GPUs" % cluster['nbr_gpus']) }}</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}

		<!-- CLuster jobs status -->
		{% if cluster['job_dates'] %}
		<div class="row">
			<div class="col">
				<table class="table table-striped table-hover table-responsive">
					<thead>
						<tr>
							<th colspan="2">{{ gettext("Jobs status") }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ gettext("Oldest job edition") }}</td>
							<td>
								{# Date formatted as in jobs/search page #}
								{% if "date_format" in web_settings and web_settings["date_format"] == "words" %}
									<span data-livestamp="{{cluster['job_dates']['min']|float}}"></span>
								{% else %}
									{{ cluster['job_dates']['min']|format_date(web_settings["date_format"], web_settings["time_format"]) }}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>{{ gettext("Latest job edition") }}</td>
							<td>
								{# Date formatted as in jobs/search page #}
								{% if "date_format" in web_settings and web_settings["date_format"] == "words" %}
									<span data-livestamp="{{cluster['job_dates']['max']|float}}"></span>
								{% else %}
									{{ cluster['job_dates']['max']|format_date(web_settings["date_format"], web_settings["time_format"]) }}
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
