{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}"> -->
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}
    </script>

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="title float-start">
                        <i class="fa-solid fa-warning"></i>
                        <h1>&nbsp;</h1>
                    </div>
                </div>
            </div>

            <div class="row error">
                <div class="col-4 position-relative">
                    <!-- image -->
                    <img src="{{url_for('static', filename='images/error_image.png')}}" class="w-100"/>
                </div>
                <div class="col-8">
                    <!-- Account(s) -->
                    <h1 style="color: #85c3cb"><strong>
                        {% if error_code %}
                        {{ gettext("HTTP response code") }} {{ error_code }}
                        {% else %}
                        {{ gettext("An error occurred!") }}
                        {% endif %}
                    </strong></h1>
                    <p>&nbsp;</p>
                    <h3><code style="color: inherit; display: block">{{error_msg}}</code></h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

