{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}
    </script>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s1">
            <!-- spacing on the left -->
        </div>
        <div class="col s4">
            <h3>clockwork cluster</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s1">
            <!-- spacing on the left -->
        </div>

        <div class="col s6">
            <p>
            Please log in with your @mila.quebec account.
            This will create a key for the REST API automatically.
            </p>
            <p>
              Merci de vous connecter avec votre compte @mila.quebec.
              Cela créera automatiquement une clef pour l'API REST.
            </p>
            <p>
                <a class="waves-effect waves-light btn grey darken-1" href="/login">
                    <!-- Do we still want to keep the icon here?
                        Are we still using materialize?
                        <i class="material-icons left">person</i>
                    -->
                LOGIN / SE CONNECTER
                </a>
                <!-- <a class="button" href="/login">Google Login</a> -->
            </p>
        </div>
    </div>
{% endblock %}
