{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}"> -->
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="changeme">
                <div class="row justify-content-between">
                    <div class="col-8">
                        <div class="title float-start">
                            <i class="fa-solid fa-list"></i>
                            <h1>JOBS</h1>
                        </div>
                        <!-- <a class="btn" onclick="server_refresh()">refresh</a> -->
                    </div>
                    <div class="col-4">
                        <form id="nbr_per_page" method="get">
                            {% if request.args.get('nbr_items_per_page') is not none %} 
                                {% set nbr_items_per_page = request.args.get('nbr_items_per_page') | int %}
                            {% else %}
                                {% set nbr_items_per_page = web_settings["nbr_items_per_page"] | int %}
                            {% endif %}
                            <label for="nbr_items_per_page">Items per page</label>
                            <select class="form-select" aria-label="Items per page" id="nbr_items_per_page" name="nbr_items_per_page">
                                <option value="25" {{ "selected" if nbr_items_per_page == 25 }}>25</option>
                                <option value="40" {{ "selected" if nbr_items_per_page == 40 }}>40</option>
                                <option value="50" {{ "selected" if nbr_items_per_page == 50 }}>50</option>
                                <option value="100" {{ "selected" if nbr_items_per_page == 100 }}>100</option>
                            </select>
                        </form>
                    </div>
                </div>
                <table class="table table-striped table-hover table-responsive" data-sortable id="search_table">
                    <thead>
                        <tr>
                            <th>Cluster</th>
                            <th>User</th>
                            <th>Job ID</th>
                            <th>Job name [:20]</th>
                            <th>Job state</th>
                            <th>Start time</th>
                            <th>End time</th>
                            <th data-sortable="false">Links</th>
                            <th data-sortable="false">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for D_job in LD_jobs %}
                        <tr>
                            <td>{{D_job['slurm']['cluster_name']}}</td>
                            <td>{{D_job['cw']['best_guess_for_username']}}</td>
                            <td>
                                <a href="/jobs/one?cluster_name={{D_job['slurm']['cluster_name']}}&job_id={{D_job['slurm']['job_id']}}">{{D_job['slurm']['job_id']}}</a>
                            </td>
                            <td>{{D_job['slurm'].get("name", "")[0:20]}}</td>


                            <td><span class="status {{D_job['slurm']['job_state']|lower}}">{{D_job['slurm']["job_state"]|title|replace("_", " ")}}</span></td>

                            <td><span class="visually-hidden">{{D_job["slurm"]["start_time"]}}</span><span data-livestamp='{{D_job["slurm"]["start_time"]}}'></span></td>
                            <td><span class="visually-hidden">{{D_job["slurm"]["end_time"]}}</span><span data-livestamp='{{D_job["slurm"]["end_time"]}}'></span></td>
                            <td class="links">
                               <a href='' data-bs-toggle='tooltip' data-bs-placement='right' title='Link to somewhere'><i class='fa-solid fa-file'></i></a>
                                <a href='' data-bs-toggle='tooltip' data-bs-placement='right' title='Link to another place'><i class='fa-solid fa-link-horizontal'></i></a>
                            </td>
                            <td class="actions">
                                {% if mila_email_username == D_job['cw']['best_guess_for_username'] %}
                                    <a href='' class='stop' data-bs-toggle='tooltip' data-bs-placement='right' title='Cancel job'><i class='fa-solid fa-xmark'></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- temporarily use a set integer until the variable can be passed through GET -->
                Jobs: {{ nbr_total_jobs }}
                {% set total_items = 120 | int %}
                

                <!-- get query params -->
                

                {% if request.args.get('page_num') is not none %} 
                    {% set page_num = request.args.get('page_num') | int %}
                {% else %}
                    {% set page_num = 1 | int %}
                {% endif %}

                {% set total_pages = total_items // nbr_items_per_page | int %}

                {% set total_pages = total_items // nbr_items_per_page | int %}

                {% if total_pages > 1 %}   
                    <nav class="table_nav" aria-label="table_nav">
                        <ul class="pagination">
                            {% if page_num == 1 %}
                                <li class="page-item first"><a class="page-link disable"><i class="fa-solid fa-caret-left"></i></a></li>
                            {% else %}
                                <li class="page-item first"><a class="page-link" href="{{ modify_query(page_num=page_num - 1) }}"><i class="fa-solid fa-caret-left"></i></a></li>
                            {% endif %}

                            {% for page in range(total_pages) %}
                                {% set page = page + 1 %}
                                {% if (page ) == page_num %}   
                                    <li class="page-item current"><a class="page-link disable">{{ page }}</a></li>
                                {% else %}
                                    {% set x=previous_request_args.__setitem__("page_num", page) %}
                                    <!-- magically update query params using new function -->
                                    <li class="page-item"><a class="page-link" href="{{ modify_query(page_num=page) }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_num == total_pages %}
                                <li class="page-item last"><a class="page-link disable"><i class="fa-solid fa-caret-right"></i></a></li>
                            {% else %}
                                <li class="page-item last"><a class="page-link" href="{{ modify_query(page_num=page_num + 1) }}"><i class="fa-solid fa-caret-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
