{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jobs.js') }}"></script>
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

        document.addEventListener("DOMContentLoaded", (event) => {
            server_refresh();
        });

        var query_filter = {};
        var display_filter = {};

        function read_query_filter() {

            if ( document.getElementById("user_option_all").checked ) {
                query_filter["user"] = "all";
            }
            else if ( document.getElementById("user_option_only_me").checked ) {
                query_filter["user"] = "{{ mila_email_username }}";
            }
            else if ( document.getElementById("user_option_other").checked ) {
                query_filter["user"] = document.getElementById("user_option_other_textarea").value;
            }
        }

        function read_display_filter() {
            // sets value of `display_filter`
            display_filter["cluster_name"] = {
                "mila": document.getElementById("cluster_toggle_lever_mila").checked,
                "beluga": document.getElementById("cluster_toggle_lever_beluga").checked,
                "cedar": document.getElementById("cluster_toggle_lever_cedar").checked,
                "graham": document.getElementById("cluster_toggle_lever_graham").checked
            }

            // Grouping the states into 4 bins to simplify the interface and usability.

            status_running = document.getElementById("status_toggle_lever_running").checked
            status_pending = document.getElementById("status_toggle_lever_pending").checked
            status_completed = document.getElementById("status_toggle_lever_completed").checked
            status_any_errors = document.getElementById("status_toggle_lever_any_errors").checked

            display_filter["job_state"] = {
                "COMPLETED": status_completed,
                // let's say that "COMPLETING" is still like "RUNNING"
                "RUNNING": status_running,
                "COMPLETING": status_running,
                //
                "PENDING": status_pending,
                // catchall category about everything where the job didn't run properly
                "FAILED": status_any_errors,
                "OUT_OF_MEMORY": status_any_errors,
                "TIMEOUT": status_any_errors,
                "FAILED": status_any_errors,
                "CANCELLED": status_any_errors
            }

        }

        function server_refresh() {
            /* This fetches from the server.

                - read the values of the toggle switches
                - set the value for query_filter
             */

            read_query_filter()
            read_display_filter()

            console.log(query_filter);
            console.log(display_filter);

            // note that `launch_refresh_all_data` comes from "jobs.ps"
            launch_refresh_all_data(query_filter, display_filter);
            console.log("server_refresh() called");
        }
        function table_display_refresh() {
            /* This does not fetch from the server.

                - read the values of the toggle switches
                - set the value for display_filter
            */

            read_display_filter()

            console.log(display_filter);
            // note that `refresh_display` comes from "jobs.ps"
            refresh_display(display_filter);
            console.log("table_display_refresh() called");
        }
    </script>

{% endblock %}
{% block content %}
    <div class="searchform">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title float-end">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h1>SEARCH</h1>
                    </div>
                    <!-- <a class="btn" onclick="server_refresh()">refresh</a> -->
                </div>
            </div> <!-- end header row -->

            <form action="#">
                <div class="row">
                    <!-- users -->
                    <div class="col-sm-12 col-md-4">
                        <div class="cc_toggle_zone_column">
                            <div class="cc_toggle_zone_row row_title">
                                <span>Filter by user</span>
                            </div>
                            <div class="cc_toggle_zone_row form-radio">
                                <input class="form-check-input" id="user_option_all" name="group3" type="radio" onclick="server_refresh()" checked />
                                <label for="user_option_all" class="form-label">
                                    <span>All users</span>
                                </label>
                            </div>
                            <div class="cc_toggle_zone_row form-radio">
                                <input class="form-check-input" id="user_option_only_me" name="group3" type="radio" onclick="server_refresh()" />
                                <label for="user_option_only_me" class="form-label">
                                    <span>Only me</span>
                                </label>
                            </div>
                            <div class="cc_toggle_zone_row form-radio form-check-group">
                                <input class="form-check-input" id="user_option_other" name="group3" type="radio" onclick="server_refresh()" />
                                <label for="user_option_other" class="form-label">
                                    <input type="text" class="form-control" id="user_option_other_textarea" placeholder="Other user...">
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- toggling clusters -->
                    <div class="col-sm-12 col-md-4">
                        <div class="cc_toggle_zone_column">
                            <div class="cc_toggle_zone_row row_title">
                                <span>Filter by cluster</span>
                            </div>

                            <!-- toggle beluga -->
                            <div class="cc_toggle_zone_row">
                                <a href="https://docs.computecanada.ca/wiki/Beluga" target="_blank">
                                    <i class="fa-solid fa-layer-group" data-bs-toggle="tooltip" data-bs-placement="right" title="Cluster documentation"></i>
                                </a>
                                <a href="https://dashboard.server.mila.quebec/" target="_blank">
                                    <i class="fa-solid fa-file-lines" data-bs-toggle="tooltip" data-bs-placement="right" title="Grafana cluster link"></i>
                                </a>
                                <div class="cc_cluster_toggle_subzone form-check form-switch">
                                    <label class="form-check-label" for="cluster_toggle_lever_beluga" class="cc_cluster_toggle_name">beluga</label>
                                    <input class="form-check-input float-end" type="checkbox" id="cluster_toggle_lever_beluga" onclick="table_display_refresh()" checked>
                                </div>
                            </div>

                            <!-- toggle cedar -->
                            <div class="cc_toggle_zone_row">
                                <a href="https://docs.computecanada.ca/wiki/Cedar" target="_blank">
                                    <i class="fa-solid fa-layer-group" data-bs-toggle="tooltip" data-bs-placement="right" title="Cluster documentation"></i>
                                </a>
                                <a href="https://dashboard.server.mila.quebec/" target="_blank">
                                    <i class="fa-solid fa-file-lines" data-bs-toggle="tooltip" data-bs-placement="right" title="Grafana cluster link"></i>
                                </a>
                                <div class="cc_cluster_toggle_subzone form-check form-switch">
                                    <label class="form-check-label" for="cluster_toggle_lever_cedar" class="cc_cluster_toggle_name">cedar</label>
                                    <input class="form-check-input float-end" type="checkbox" id="cluster_toggle_lever_cedar" onclick="table_display_refresh()" checked>
                                </div>
                            </div>

                            <!-- toggle graham -->
                             <div class="cc_toggle_zone_row">
                                <a href="https://docs.computecanada.ca/wiki/Graham" target="_blank">
                                    <i class="fa-solid fa-layer-group" data-bs-toggle="tooltip" data-bs-placement="right" title="Cluster documentation"></i>
                                </a>
                                <a href="https://dashboard.server.mila.quebec/" target="_blank">
                                    <i class="fa-solid fa-file-lines" data-bs-toggle="tooltip" data-bs-placement="right" title="Grafana cluster link"></i>
                                </a>
                                <div class="cc_cluster_toggle_subzone form-check form-switch">
                                    <label class="form-check-label" for="cluster_toggle_lever_graham" class="cc_cluster_toggle_name">graham</label>
                                    <input class="form-check-input float-end" type="checkbox" id="cluster_toggle_lever_graham" onclick="table_display_refresh()" checked>
                                </div>
                            </div>

                            <!-- toggle mila -->
                            <div class="cc_toggle_zone_row">
                                <a href="https://docs.mila.quebec" target="_blank">
                                    <i class="fa-solid fa-layer-group" data-bs-toggle="tooltip" data-bs-placement="right" title="Cluster documentation"></i>
                                </a>
                                <a href="https://dashboard.server.mila.quebec/" target="_blank">
                                    <i class="fa-solid fa-file-lines" data-bs-toggle="tooltip" data-bs-placement="right" title="Grafana cluster link"></i>
                                </a>
                                <div class="cc_cluster_toggle_subzone form-check form-switch">
                                    <label class="form-check-label" for="cluster_toggle_lever_mila" class="cc_cluster_toggle_name">mila</label>
                                    <input class="form-check-input float-end" type="checkbox" id="cluster_toggle_lever_mila" onclick="table_display_refresh()" checked>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- toggling status -->
                    <div class="col-sm-12 col-md-4">
                        <div class="cc_toggle_zone_column">
                            <div class="cc_toggle_zone_row row_title">
                                <span>Filter by status</span>
                            </div>

                            <!-- toggle completed -->
                            <div class="cc_toggle_zone_row">
                                <div class="cc_cluster_toggle_subzone form-check form-switch">
                                    <label class="form-check-label" for="status_toggle_lever_completed" class="status_toggle_lever_completed"><span class="completed">Completed</span></label>
                                    <input class="form-check-input float-end" type="checkbox" id="status_toggle_lever_completed" onclick="table_display_refresh()" checked>
                                </div>
                            </div>

                            <!-- toggle running -->
                            <div class="cc_toggle_zone_row">
                                <div class="cc_cluster_toggle_subzone form-check form-switch">
                                    <label class="form-check-label" for="status_toggle_lever_running" class="status_toggle_lever_running"><span class="running">Running</span></label>
                                    <input class="form-check-input float-end" type="checkbox" id="status_toggle_lever_running" onclick="table_display_refresh()" checked>
                                </div>
                            </div>

                            <!-- toggle pending -->
                            <div class="cc_toggle_zone_row">
                                <div class="cc_cluster_toggle_subzone form-check form-switch">
                                    <label class="form-check-label" for="status_toggle_lever_pending" class="status_toggle_lever_pending"><span class="pending">Pending</span></label>
                                    <input class="form-check-input float-end" type="checkbox" id="status_toggle_lever_pending" onclick="table_display_refresh()" checked>
                                </div>
                            </div>

                            <!-- toggle any errors -->
                             <div class="cc_toggle_zone_row">
                                <div class="cc_cluster_toggle_subzone form-check form-switch">
                                    <label class="form-check-label" for="status_toggle_lever_any_errors" class="status_toggle_lever_any_errors"><span class="failed">Any errors</span></label>
                                    <input class="form-check-input float-end" type="checkbox" id="status_toggle_lever_any_errors" onclick="table_display_refresh()" checked>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> <!-- end search form row-->

                 <div class="row">
                    <!-- button -->
                    <div class="col-sm-12 col-md-4 offset-md-8">
                        <button type="submit" class="btn btn-red mb-3" onclick="table_display_refresh()">Run search</button>
                    </div>
                </div>
            </form>

        </div> <!-- end header container -->
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-sm-12" id="changeme">

                <!-- <h1>{{channel_title}}</h1> -->

                <table class="table table-striped table-hover table-responsive" data-sortable id="table_98429387">
                    <!-- This table starts empty and is populated automatically when the DOM is ready. -->
                </table>
            </div>
        </div>
    </div><!-- end table container -->
{% endblock %}
