{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jobs.js') }}"></script>
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

        document.addEventListener("DOMContentLoaded", (event) => {
            server_refresh();
        });

        var query_filter = {};
        var display_filter = {};

        function read_query_filter() {
            // sets value of `query_filter`
            if ( document.getElementById("time_option_1_hour").checked ) {
                query_filter["time"] = 3600;
            }
            else if ( document.getElementById("time_option_1_day").checked ) {
                query_filter["time"] = 3600 * 24;
            }
            else if ( document.getElementById("time_option_1_week").checked ) {
                query_filter["time"] = 3600 * 24 * 7;
            }

            if ( document.getElementById("user_option_all").checked ) {
                query_filter["user"] = "all";
            }
            else if ( document.getElementById("user_option_only_me").checked ) {
                /* TODO : use the authenticated user's actual username here */
                query_filter["user"] = "alaingui";
            }
            else if ( document.getElementById("user_option_other").checked ) {
                query_filter["user"] = document.getElementById("user_option_other_textarea").value;
            }
        }

        function read_display_filter() {
            // sets value of `display_filter`
            display_filter["cluster_name"] = {
                "mila": document.getElementById("cluster_toggle_lever_mila").checked,
                "beluga": document.getElementById("cluster_toggle_lever_beluga").checked,
                "cedar": document.getElementById("cluster_toggle_lever_cedar").checked,
                "graham": document.getElementById("cluster_toggle_lever_graham").checked
            }

            // Grouping the states into 4 bins to simplify the interface and usability.

            status_running = document.getElementById("status_toggle_lever_running").checked
            status_pending = document.getElementById("status_toggle_lever_pending").checked
            status_completed = document.getElementById("status_toggle_lever_completed").checked
            status_any_errors = document.getElementById("status_toggle_lever_any_errors").checked

            display_filter["job_state"] = {
                "COMPLETED": status_completed,
                // let's say that "COMPLETING" is still like "RUNNING"
                "RUNNING": status_running,
                "COMPLETING": status_running,
                //
                "PENDING": status_pending,
                // catchall category about everything where the job didn't run properly
                "FAILED": status_any_errors,
                "OUT_OF_MEMORY": status_any_errors,
                "TIMEOUT": status_any_errors,
                "FAILED": status_any_errors,
                "CANCELLED": status_any_errors
            }

        }

        function server_refresh() {
            /* This fetches from the server.
            
                - read the values of the toggle switches
                - set the value for query_filter
             */

            read_query_filter()
            read_display_filter()

            console.log(query_filter);
            console.log(display_filter);

            // note that `launch_refresh_all_data` comes from "jobs.ps"
            launch_refresh_all_data(query_filter, display_filter);
            console.log("server_refresh() called");
        }
        function table_display_refresh() {
            /* This does not fetch from the server.

                - read the values of the toggle switches
                - set the value for display_filter
            */

            read_display_filter()

            console.log(display_filter);
            // note that `refresh_display` comes from "jobs.ps"
            refresh_display(display_filter);
            console.log("table_display_refresh() called");
        }
    </script>

{% endblock %}
{% block content %}
    <div class="cc_subheader_banner">
        <div class="row">
            <div class="col s1">
                <!-- spacing on the left -->
            </div>
            <div class="col s3">
                <div>
                    <h4>jobs on clusters</h4>
                </div>
                <div>
                    <!-- deep-purple lighten-1 -->
                    <a class="waves-effect waves-light btn grey darken-1" onclick="server_refresh()"><i class="material-icons right">refresh</i>refresh</a>
                </div>
            </div>

            <!-- dates -->
            <div class="col s1 cc_toggle_zone_column">
                <form action="#">
                    <div class="cc_toggle_zone_row" style="margin-left:20px">
                        <span>time</span>
                    </div>
                    <!-- we have ids in there because we want to be able to get/set their states -->
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input id="time_option_1_hour" name="group1" type="radio" onclick="server_refresh()" checked />
                            <span>1 hour</span>
                        </label>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input id="time_option_1_day" name="group1" type="radio" onclick="server_refresh()" />
                            <span>1 day</span>
                        </label>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input id="time_option_1_week" name="group1" type="radio" onclick="server_refresh()" />
                            <span>1 week</span>
                        </label>
                    </div>
                </form>
            </div>

            <!-- users -->
            <div class="col s1 cc_toggle_zone_column">
                <form action="#">
                    <div class="cc_toggle_zone_row" style="margin-left:20px">
                        <span>users</span>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input id="user_option_all" name="group3" type="radio" onclick="server_refresh()" checked />
                            <span>all</span>
                        </label>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input id="user_option_only_me" name="group3" type="radio" onclick="server_refresh()" />
                            <span>only me</span>
                        </label>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input id="user_option_other" name="group3" type="radio" onclick="server_refresh()" />
                            <span><textarea id="user_option_other_textarea" rows="1" cols="20" maxlength="20" style="resize:none;height:90%;"> </textarea></span>
                        </label>
                    </div>
                    
                </form>
            </div>

            <!-- toggling clusters -->
            <div class="col s2 cc_toggle_zone_column">
                <!-- toggle mila -->
                <div class="cc_toggle_zone_row">

                    <div class="cc_cluster_toggle_documentation_link">
                        <!-- <i class="tiny material-icons">assignment</i> -->
                        <a href="https://docs.mila.quebec">
                            <img src="{{ url_for('static', filename='images/outline_book_black_48dp.png') }}" />
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_grafana_link">
                        <a href="https://dashboard.server.mila.quebec/"> <!-- TODO : insert link to actual plot -->
                            <img src="{{ url_for('static', filename='images/grafana_logo.png') }}" />
                        </a>
                    </div>
                    <div class="cc_cluster_toggle_name">mila</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        <!-- Hide -->
                        <input id="cluster_toggle_lever_mila" type="checkbox" onclick="table_display_refresh()" checked>
                        <span class="lever"></span>
                        <!-- Show -->
                        </label>
                    </div>
                </div>
                <!-- toggle beluga -->
                <div class="cc_toggle_zone_row">

                    <div class="cc_cluster_toggle_documentation_link">
                        <!-- <i class="tiny material-icons">assignment</i> -->
                        <a href="https://docs.computecanada.ca/wiki/Beluga">
                            <img src="{{ url_for('static', filename='images/outline_book_black_48dp.png') }}" />
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_grafana_link">
                        <a href="https://dashboard.server.mila.quebec/"> <!-- TODO : insert link to actual plot -->
                            <img src="{{ url_for('static', filename='images/grafana_logo.png') }}"/>
                        </a>
                    </div>
                    <div class="cc_cluster_toggle_name">beluga</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        <!-- Hide -->
                        <input id="cluster_toggle_lever_beluga" type="checkbox" onclick="table_display_refresh()" checked>
                        <span class="lever"></span>
                        <!-- Show -->
                        </label>
                    </div>
                </div>
                <!-- toggle cedar -->
                <div class="cc_toggle_zone_row">

                    <div class="cc_cluster_toggle_documentation_link">
                        <!-- <i class="tiny material-icons">assignment</i> -->
                        <a href="https://docs.computecanada.ca/wiki/Cedar">
                            <img src="{{ url_for('static', filename='images/outline_book_black_48dp.png') }}" />
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_grafana_link">
                        <a href="https://dashboard.server.mila.quebec/"> <!-- TODO : insert link to actual plot -->
                            <img src="{{ url_for('static', filename='images/grafana_logo.png') }}"/>
                        </a>
                    </div>
                    <div class="cc_cluster_toggle_name">cedar</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        <!-- Hide -->
                        <input id="cluster_toggle_lever_cedar" type="checkbox" onclick="table_display_refresh()" checked>
                        <span class="lever"></span>
                        <!-- Show -->
                        </label>
                    </div>
                </div>
                <!-- toggle graham -->
                <div class="cc_toggle_zone_row">

                    <div class="cc_cluster_toggle_documentation_link">
                        <!-- <i class="tiny material-icons">assignment</i> -->
                        <a href="https://docs.computecanada.ca/wiki/Graham">
                            <img src="{{ url_for('static', filename='images/outline_book_black_48dp.png') }}" />
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_grafana_link">
                        <a href="https://dashboard.server.mila.quebec/"> <!-- TODO : insert link to actual plot -->
                            <img src="{{ url_for('static', filename='images/grafana_logo.png') }}"/>
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_name">graham</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        <!-- Hide -->
                        <input id="cluster_toggle_lever_graham" type="checkbox" onclick="table_display_refresh()" checked>
                        <span class="lever"></span>
                        <!-- Show -->
                        </label>
                    </div>
                </div>
            </div>
            

            <!-- toggling status -->
            <div class="col s2 cc_toggle_zone_column">
                <!-- toggle completed -->
                <div class="cc_toggle_zone_row">
                    <div class="cc_cluster_toggle_name">completed</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        Hide
                        <input id="status_toggle_lever_completed" type="checkbox" onclick="table_display_refresh()" checked>
                        <span class="lever"></span>
                        Show
                        </label>
                    </div>
                </div>
                <!-- toggle running -->
                <div class="cc_toggle_zone_row">
                    <div class="cc_cluster_toggle_name">running</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        Hide
                        <input id="status_toggle_lever_running" type="checkbox" onclick="table_display_refresh()" checked>
                        <span class="lever"></span>
                        Show
                        </label>
                    </div>
                </div>
                <!-- toggle pending -->
                <div class="cc_toggle_zone_row">
                    <div class="cc_cluster_toggle_name">pending</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        Hide
                        <input id="status_toggle_lever_pending" type="checkbox" onclick="table_display_refresh()" checked>
                        <span class="lever"></span>
                        Show
                        </label>
                    </div>
                </div>
                <!-- toggle any errors -->
                <div class="cc_toggle_zone_row">
                    <div class="cc_cluster_toggle_name">any errors</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        Hide
                        <input id="status_toggle_lever_any_errors" type="checkbox" onclick="table_display_refresh()" checked>
                        <span class="lever"></span>
                        Show
                        </label>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col s1">
            <!-- spacing on the left -->
        </div>
        <div class="col s9" id="changeme">

            <!-- <h1>{{channel_title}}</h1> -->
            
            <table class="striped" id="table_98429387">
                <!-- This table starts empty and is populated automatically when the DOM is ready. -->
            </table>
        </div>
    </div>
{% endblock %}
