{# Generate query with appropriate sorting parameters for given field #}
{% macro modify_query_sorting(field) %}
    {% if (previous_request_args["sort_by"] == field) %}
        {# If field does not change, just reverse sorting #}
        {% set sort_asc = -previous_request_args["sort_asc"] %}
    {% else %}
        {# By default, sort ascending if the field to sort is cluster_name,
            user, name or job_state #}
        {% if field in ["cluster_name", "user", "name", "job_state"] %}
            {% set sort_asc = 1 %}
        {% else %}
            {# Otherwise, the default order is descending #}
            {% set sort_asc = -1 %}
        {% endif %}
    {% endif %}
    {{ modify_query(sort_by=field, sort_asc=sort_asc) }}
{% endmacro %}

{# Generate sorting icon (arrow up or down) for given field #}
{% macro get_sorting_icon(field) %}
    {# We generate an icon only for field currently sorted #}
    {% if field == previous_request_args["sort_by"] %}
        {% if previous_request_args["sort_asc"] == 1 %}
            {% set arrow = "up" %}
        {% else %}
            {% set arrow = "down" %}
        {% endif %}
        <i class="fa-solid fa-caret-{{ arrow }}"></i>
    {% endif %}
{% endmacro %}

{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}
    {% set page_name = "jobs_list" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="changeme">
                <div class="row justify-content-between">
                    <div class="col-12">
                        <div class="title float-start">
                            <i class="fa-solid fa-list"></i>
                            <h1>JOBS</h1>
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        <form id="nbr_per_page" method="get">
                            {% if request.args.get('nbr_items_per_page') is not none %}
                                {% set nbr_items_per_page = request.args.get('nbr_items_per_page') | int %}
                            {% else %}
                                {% set nbr_items_per_page = web_settings["nbr_items_per_page"] | int %}
                            {% endif %}
                            <label for="nbr_items_per_page">Items per page</label>
                            <select class="form-select" aria-label="Items per page" id="nbr_items_per_page" name="nbr_items_per_page">
                                <option value="25" {{ "selected" if nbr_items_per_page == 25 }}>25</option>
                                <option value="40" {{ "selected" if nbr_items_per_page == 40 }}>40</option>
                                <option value="50" {{ "selected" if nbr_items_per_page == 50 }}>50</option>
                                <option value="100" {{ "selected" if nbr_items_per_page == 100 }}>100</option>
                            </select>
                        </form>
                    </div> -->
                </div>
                <table class="table table-striped table-hover table-responsive table-jobs" id="search_table">
                    <thead>
                        <tr>
                            <!-- Clusters header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "clusters")) %}
                                {% set sort_by = "cluster_name" %}
                                <th>
                                    <a href="{{ modify_query_sorting(sort_by) }}">{{ gettext("Cluster") }}{{ get_sorting_icon(sort_by) }}</a>
                                </th>
                            {% endif %}
                            <!-- User header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "user")) %}
                                {% set sort_by = "user" %}
                                <th>
                                    <a href="{{ modify_query_sorting(sort_by) }}">{{ gettext("User (@mila.quebec)") }}{{ get_sorting_icon(sort_by) }}</a>
                                </th>
                            {% endif %}
                            <!-- Job ID header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "job_id")) %}
                                {% set sort_by = "job_id" %}
                                <th>
                                    <a href="{{ modify_query_sorting(sort_by) }}">{{ gettext("Job ID") }}{{ get_sorting_icon(sort_by) }}</a>
                                </th>
                            {% endif %}
                            <!-- Job array header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "job_array")) %}
                                <th>Job array</th>
                            {% endif %}
                            <!-- Job name header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "job_name")) %}
                                {% set sort_by = "name" %}
                                <th>
                                    <a href="{{ modify_query_sorting(sort_by) }}">{{ gettext("Job name [:20]") }}{{ get_sorting_icon(sort_by) }}</a>
                                </th>
                            {% endif %}
                            <!-- Job state header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "job_state")) %}
                                {% set sort_by = "job_state" %}
                                <th>
                                    <a href="{{ modify_query_sorting(sort_by) }}">{{ gettext("Job state") }}{{ get_sorting_icon(sort_by) }}</a>
                                </th>
                            {% endif %}
                            <!-- Submit time header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "submit_time")) %}
                                {% set sort_by = "submit_time" %}
                                <th>
                                    <a href="{{ modify_query_sorting(sort_by) }}">{{ gettext("Submit time") }}{{ get_sorting_icon(sort_by) }}</a>
                                </th>
                            {% endif %}
                            <!-- Start time header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "start_time")) %}
                                {% set sort_by = "start_time" %}
                                <th>
                                    <a href="{{ modify_query_sorting(sort_by) }}">{{ gettext("Start time") }}{{ get_sorting_icon(sort_by) }}</a>
                                </th>
                            {% endif %}
                            <!-- End time header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "end_time")) %}
                                {% set sort_by = "end_time" %}
                                <th>
                                    <a href="{{ modify_query_sorting(sort_by) }}">{{ gettext("End time") }}{{ get_sorting_icon(sort_by) }}</a>
                                </th>
                            {% endif %}
                            <!-- Links header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "links")) %}
                                <th>{{ gettext("Links") }}</th>
                            {% endif %}
                            <!-- Actions header -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "actions")) %}
                                <th>{{ gettext("Actions") }}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for D_job in LD_jobs %}
                        <tr>
                            <!-- Cluster -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "clusters")) %}
                                {% if D_job['slurm']['cluster_name'] %}
                                <td>
                                    <a href="/clusters/one?cluster_name={{D_job['slurm']['cluster_name']}}">
                                        {{D_job['slurm']['cluster_name']}}
                                    </a>
                                </td>
                                {% else %}
                                    <td>{{D_job['slurm']['cluster_name']}}</td>
                                {% endif %}
                            {% endif %}

                            <!-- User -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "user")) %}
                                <td>
                                    {% if D_job['cw']['mila_email_username'] is not none %}
                                        <a href="/users/one?username={{D_job['cw']['mila_email_username']}}">
                                            {% set name, domain = D_job['cw']['mila_email_username'].split('@') %}
                                            {{ name }} <span class="email">@{{ domain }}</span>
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}

                            <!-- Job ID -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "job_id")) %}
                                <td>
                                    <a href="/jobs/one?cluster_name={{D_job['slurm']['cluster_name']}}&job_id={{D_job['slurm']['job_id']}}">{{D_job['slurm']['job_id']}}</a>
                                </td>
                            {% endif %}

                            <!-- Job array -->
                            <!-- TODO For now, job array is just job ID. To update when real job arrays will be available -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "job_array")) %}
                                <td>
                                    <a href="{{ modify_query(job_array=D_job['slurm']['job_id']) }}" title="Filter by job array {{D_job['slurm']['job_id']}}">
                                        <i class="fa-solid fa-table-list"></i>
                                    </a>
                                </td>
                            {% endif %}

                            <!-- Job name -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "job_name")) %}
                                <td>{{D_job['slurm'].get("name", "")[0:20]}}</td>
                            {% endif %}

                            <!-- Job state -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "job_state")) %}
                                <td class="state"><span class="status {{D_job['slurm']['job_state']|aggregated|lower}}">{{D_job['slurm']["job_state"]|title|replace("_", " ")}}</span></td>
                            {% endif %}

                            <!-- Submit, start and end times -->
                            {# The properties submit_time, start_time and end_time are presented through the same pattern, #}
                            {# thus setting these HTML tags is done using an iteration over these three values #}
                            {% for job_time_key in ["submit_time", "start_time", "end_time"] %}

                                {# Create the elements if the user settings imply to display the value #}
                                {% if (web_settings | check_web_settings_column_display(page_name, job_time_key)) %}
                                    {% if D_job["slurm"][job_time_key] %}

                                        {% set job_time_value = D_job["slurm"][job_time_key] %}
                                        <!-- data-order is the value used to sort the elements of the current column, if requested -->
                                        <!-- Here, the timestamp is used -->
                                        <td data-order='{{job_time_value}}'>
                                            <!-- Such a visually hidden entity can be used by assistive technologies, such as screen readers -->
                                            <span class="visually-hidden">{{job_time_value}}</span>

                                            {% if "date_format" in web_settings and web_settings["date_format"] == "words" %}
                                                <!-- data-livestamp is used to display the relative date as words -->
                                                <span data-livestamp='{{job_time_value|int}}'></span>
                                            {% else %}
                                                {# The filter format_date returns a formatted date according to the timestamp and #}
                                                {# the preferences defined by the user. Note that, in case the user chose a relative #}
                                                {# time displayed as words, the formatting is done above, because a specific HTML #}
                                                {# entity is used #}
                                                {{ job_time_value|format_date(web_settings["date_format"], web_settings["time_format"]) }}
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <!-- data-order is the value used to sort the elements of the current column, if requested -->
                                        <!-- Here, a default value of zero is used, as an existing time would be sorted regarding -->
                                        <!-- its timestamp -->
                                        <td data-order='0'></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <!-- Links -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "links")) %}
                                <td class="links">
                                    {# The links are not visible is the current user does not own this job #}
                                    {% if have_same_users(mila_email_username, D_job['cw']['mila_email_username']) %}
                                        {# DRAC link if appliable #}
                                        {% if (D_job['slurm']['cluster_name'] == 'beluga') or (D_job['slurm']['cluster_name'] == 'narval') %}
                                            <!-- https://portail.narval.calculquebec.ca/secure/jobstats/<username>/<jobid> -->
                                            <a  href='https://portail.{{D_job["slurm"]["cluster_name"]}}.calculquebec.ca/secure/jobstats/{{D_job["slurm"]["username"]}}/{{D_job["slurm"]["job_id"]}}'
                                                data-bs-toggle='tooltip' data-bs-placement='right' title='this job on DRAC portal'>
                                                <i class='fa-solid fa-file'></i>
                                            </a>
                                        {% endif %}

                                        {# Other link (here, it is a placeholder with no condition) #}
                                        <!-- this is a placeholder -->
                                        <a href='' data-bs-toggle='tooltip' data-bs-placement='right' title='Link to another place'><i class='fa-solid fa-link-horizontal'></i></a>
                                    {% endif %}
                                </td>
                            {% endif %}

                            <!-- Actions -->
                            {% if (web_settings | check_web_settings_column_display(page_name, "actions")) %}
                                <td class="actions">
                                    {% if mila_email_username == D_job['cw']['mila_email_username'] %}
                                        <a href='' class='stop' data-bs-toggle='tooltip' data-bs-placement='right' title='Cancel job'><i class='fa-solid fa-octagon-minus' style='color:#dba46a;'></i></a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% set total_items = nbr_total_jobs | int %}

                <!-- get query params -->
                {% if request.args.get('page_num') is not none %}
                    {% set page_num = request.args.get('page_num') | int %}
                {% else %}
                    {% set page_num = 1 | int %}
                {% endif %}

                {% if nbr_items_per_page > 0 %}
                    {# Get the number of pages by rounding up the number of items divided by the number of items per pages #}
                    {% set total_pages = ((total_items / nbr_items_per_page) | round(0, 'ceil') | int) %}
                {% else %}
                    {% set total_pages = 1 %}
                {% endif %}

                {% if total_pages > 1 %}
                    <nav class="table_nav" aria-label="table_nav">
                        <ul class="pagination">
                            {% if page_num == 1 %}
                                <li class="page-item first">
                                    <span><i class="fa-solid fa-caret-left"></i><i class="fa-solid fa-caret-left"></i></span>
                                    <span><i class="fa-solid fa-caret-left"></i></span>
                                </li>
                            {% else %}
                                <li class="page-item first"><a class="page-link" href="{{ modify_query(page_num=1) }}"><i class="fa-solid fa-caret-left"></i><i class="fa-solid fa-caret-left"></i></a></li>
                                <li class="page-item first"><a class="page-link" href="{{ modify_query(page_num=page_num - 1) }}"><i class="fa-solid fa-caret-left"></i></a></li>
                            {% endif %}

                            {% if (page_num > 4): %}
                                <li><span class="ellipses">...</span></li>
                            {% endif %}

                            {% for page in range(total_pages) %}
                                {% set page = page + 1 %}

                                    {% if (page) == page_num %}
                                        <li class="page-item current"><a class="page-link disable">{{ page }}</a></li>
                                    {% elif (page < page_num - 3) %}

                                    {% elif (page > page_num + 3) %}

                                    {% else %}
                                        {% set x=previous_request_args.__setitem__("page_num", page) %}
                                        <!-- magically update query params using new function -->
                                        <li class="page-item"><a class="page-link" href="{{ modify_query(page_num=page) }}">{{ page }}</a></li>
                                    {% endif %}

                            {% endfor %}

                            {% if (page_num < total_pages - 3): %}
                                <li><span class="ellipses">...</span></li>
                            {% endif %}
                            {% if page_num == total_pages %}
                                <li class="page-item last">
                                    <span><i class="fa-solid fa-caret-right"></i></span>
                                    <span><i class="fa-solid fa-caret-right"></i><i class="fa-solid fa-caret-right"></i></span>
                                </li>
                            {% else %}
                                <li class="page-item last"><a class="page-link" href="{{ modify_query(page_num=page_num + 1) }}"><i class="fa-solid fa-caret-right"></i></a></li>
                                <li class="page-item last"><a class="page-link" href="{{ modify_query(page_num=total_pages) }}"><i class="fa-solid fa-caret-right"></i><i class="fa-solid fa-caret-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
