{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}"> -->
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="title float-start">
                        <i class="fa-solid fa-list"></i>
                        <h1>{{ gettext("nodes") }}</h1>
                    </div>
                </div>
            </div>
    
            <!-- We clearly don't have half as much information as we might want to list here. -->
           <div class="row single_node">
               <table class="table table-striped table-hover table-responsive" data-sortable id="search_table">
                    <thead>                
                        <tr>
                            <th>{{ gettext("cluster_name") }}</th>
                            <th>{{ gettext("name") }}</th>
                            <th>{{ gettext("alloc_tres") }}</th>
                            <th>{{ gettext("cfg_tres") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for D_node in LD_nodes %}
                        <tr>
                            {% if D_node['slurm']['cluster_name'] %}
                                <td>
                                    <a href="/clusters/one?cluster_name={{D_node['slurm']['cluster_name']}}">
                                        {{D_node['slurm']['cluster_name']}}
                                    </a>
                                </td>
                            {% else %}
                                <td>{{D_node['slurm']['cluster_name']}}</td>
                            {% endif %}

                            {% if D_node['slurm']['cluster_name'] and D_node['slurm']['name'] %}
                                <td>
                                    <a href="/nodes/one?node_name={{D_node['slurm']['name']}}&cluster_name={{D_node['slurm']['cluster_name']}}">
                                        {{D_node['slurm']['name']}}
                                    </a>
                                </td>
                            {% else %}
                                <td>{{D_node['slurm']['name']}}</td>
                            {% endif %}
                            
                            <td>{{D_node['slurm']['alloc_tres']}}</td>
                            <td>{{D_node['slurm']['cfg_tres']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
