{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}"> -->
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}
    <div class="cc_subheader_banner">
        <div class="row">
            <div class="col s2">
                <!-- spacing on the left -->
            </div>
            <div class="col s4">
                <h4>nodes</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s1">
            <!-- spacing on the left -->
        </div>
        <div class="col s9" id="changeme">

            <!-- We clearly don't have half as much information as we might want to list here. -->
            
            <table class="striped">
                <thead>
                    <tr>
                        <th>cluster_name</th>
                        <th>name</th>
                        <th>cpus</th>
                        <th>gres</th>
                    </tr>
                </thead>
                <tbody>
                    {% for D_node in LD_nodes %}
                    <tr>
                        <td>{{D_node['cluster_name']}}</td>
                        <td>{{D_node['name']}}</td>
                        <td>{{D_node['cpus']}}</td>
                        <td>{{D_node['gres']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
