{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
	{{ super() }}
	<style type="text/css">
		{{extra_css}}
	</style>
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}"> -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/user.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
	<script>
		{% autoescape false %}
		{{extra_js}}
		{% endautoescape %}

		function switch_dark_mode() {
		  /*
			Retrieve the state of the toggle button (true if it is checked,
			false otherwise)
		  */
		  var is_checked = document.getElementById("dark_mode_toggle").checked;
		  if (is_checked) {
			enable_dark_mode();
		  }
		  else {
			disable_dark_mode();
		  }
		};

		function select_nbr_items_per_page(nbr_items_per_page_dropdown) {
		  // Retrieve the selected value
		  var selected_nbr = nbr_items_per_page_dropdown.options[nbr_items_per_page_dropdown.selectedIndex].value;
		  set_nbr_items_per_page(selected_nbr);
		};
	</script>

{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				  <div class="title float-start">
					  <i class="fa-solid fa-user"></i>
					  <h1>{{ gettext("User settings %(mila_email_username)s", mila_email_username=mila_email_username) }}<span class="message"></h1>
				  </div>
			  </div>
		</div>
		<div class="row settings_list">
			<div class="col-12">
				
				<dl class="row">
					<dt class="col-6"> 

						<form>
							<div class="form-group">
						    	<label>CLOCKWORK_API_KEY:</label>
						    	<div class="input-group" id="show_hide_password">
						      		<input class="form-control" id="clockwork_api_key" type="password" value="{{clockwork_api_key}}">
						      		<div class="input-group-addon">
						      			<a class="copy_clipboard" href=""><i class="fa fa-copy" aria-hidden="true"></i></a>
						      		</div>
						      		<div class="input-group-addon">
						        		<a class="reveal" href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
						      		</div>
						    	</div>
						  	</div>
						</form>

 						<a href="new_key">change key</a>

 					</dt>
					<dd class="col-6">
						
						<!--{% if cc_account_update_key is not none %} -->
							<p><strong>Run this command to register your account:</strong></p>
							<pre>sbatch --time=1 --wrap=true --comment=clockwork_register_accout:{{ cc_account_update_key }}</pre>
						<!--{% else %} -->
							<a href="new_update_key">Get update account key</a>
						<!--{% endif %} -->
					</dd>

					<!-- Items per page -->
					<dt class="col-6">{{ gettext("Number of items displayed per page") }}</dt>
		  			<dd class="col-6">
						<select class="form-select" name="nbr_items_per_page_selection" id="nbr_items_per_page_selection" onchange="select_nbr_items_per_page(this)">
							<!-- This is filled through the javascript -->
						</select>
					</dd>
		 
					<!-- Dark mode -->
			  		<dt class="col-6"><label for="dark_mode_toggle">{{ gettext("Dark mode") }}</label></dt>
		 			<dd class="col-6">
						<div class="form-check form-switch">
							{% if web_settings["dark_mode"] %}
								<input name="dark_mode_toggle" id="dark_mode_toggle" type="checkbox" class="form-check-input" onclick="switch_dark_mode()" checked />
							{% else %}
								<input name="dark_mode_toggle" id="dark_mode_toggle" type="checkbox" class="form-check-input" onclick="switch_dark_mode()" />
							{% endif %}
						</div>	
						<small>Setting will apply on page reload.</small>
					</dd>

				</dl>
		  </div>
		</div>
	</div>
	<script>
		// Fill the dropdown menu allowing to chose the preferred number of elements to
		// display in a listing page
		fill_nbr_items_per_page_dropdown_menu({{web_settings["nbr_items_per_page"]}});
	</script>

{% endblock %}
