{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}"> -->
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}
    <div class="cc_subheader_banner">
        <div class="row">
            <div class="col s2">
                <!-- spacing on the left -->
            </div>
            <div class="col s4">
                <h4>user settings {{mila_email_username}}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s1">
            <!-- spacing on the left -->
        </div>
        <div class="col s9" id="changeme">
            <!--
                This is a temporary thing.
                In reality we'll want to fetch the settings
                from a REST API endpoint and populate this page.
            -->
            CLOCKWORK_WEB_API : {{clockwork_api_key}}

            <a href="new_key">change key</a>
        </div>
        <div class="col s9">
        {% if cc_account_update_key is not None %}
          Run this command to register your account: sbatch --time=1 --wrap=true --comment=clockwork_register_accout:{{ cc_account_update_key }}
        {% else %}
          <a href="new_update_key">Get update account key</a>
        {% endif %}
        </div>
    </div>
{% endblock %}
