{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
		{{ super() }}
		<style type="text/css">
				{{extra_css}}
		</style>
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}"> -->
		<script>
				{% autoescape false %}
				{{extra_js}}
				{% endautoescape %}

		</script>

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="title float-start">
                        <i class="fa-solid fa-list"></i>
						<h1>{{ gettext("Status") }}</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="row single_cluster">
			<div class="col">
				<table class="table table-striped table-hover table-responsive" id="search_table">
					<thead>
						<tr>
							<th colspan="2">{{ gettext("Users status") }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ gettext("Number of users in database") }}</td>
							<td>{{ server_status['nb_users'] }}</td>
						</tr>
						<tr>
							<td>{{ gettext("Number of enabled users") }}</td>
							<td>{{ server_status['nb_enabled_users'] }}</td>
						</tr>
						<tr>
							<td>{{ gettext("Number of users that have accounts matched to a DRAC account") }}</td>
							<td>{{ server_status['nb_drac_users'] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		{% if server_status['clusters'] %}
		<div class="row">
			<div class="col">
				<table class="table table-striped table-hover table-responsive">
					<thead>
						<tr>
							<th colspan="3">{{ gettext("Clusters status") }}</th>
						</tr>
					</thead>
					<tbody>
					{% for cluster_name in server_status['clusters'] %}
						{% set cluster = server_status['clusters'][cluster_name] %}
						<tr>
							{% if cluster['job_dates'] %}
							<td rowspan="3">{{ gettext(cluster_name) }}</td>
							{% else %}
							<td>{{ gettext(cluster_name) }}</td>
							{% endif %}
							<td>{{ gettext("Number of jobs") }}</td>
							<td>{{ cluster['nb_jobs'] }}</td>
						</tr>
						{% if cluster['job_dates'] %}
						<tr>
							<td>Date of oldest job modification</td>
							<td>
								{# Date formatted as in jobs/search page #}
								{% if "date_format" in web_settings and web_settings["date_format"] == "words" %}
									<span data-livestamp="{{cluster['job_dates']['min']|float}}"></span>
								{% else %}
									{{ cluster['job_dates']['min']|format_date(web_settings["date_format"], web_settings["time_format"]) }}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Date of latest job modification</td>
							<td>
								{# Date formatted as in jobs/search page #}
								{% if "date_format" in web_settings and web_settings["date_format"] == "words" %}
									<span data-livestamp="{{cluster['job_dates']['max']|float}}"></span>
								{% else %}
									{{ cluster['job_dates']['max']|format_date(web_settings["date_format"], web_settings["time_format"]) }}
								{% endif %}
							</td>
						</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
