<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwork_cluster.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygment_trac.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- That wonderful typewriter font. -->
    <link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
    <style type="text/css" media="screen, print">
        @font-face {
          font-family: "Ailerons";
          src: url("{{ url_for('static', filename='fonts/Ailerons-Regular.otf') }}");
        }
        @font-face {
          font-family: "Anurati";
          src: url("{{ url_for('static', filename='fonts/Anurati-Regular.otf') }}");
        }
        @font-face {
          font-family: "Neuton";
          src: url("{{ url_for('static', filename='fonts/Neuton-Light.ttf') }}");
        }
      </style>

    <title>A Clockwork Cluster : {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <!-- <div id="content"> -->
    <div class="row">
      <div class="col s1">
        <!-- spacing on the left -->
      </div>
      <div class="col s5">
        <img src="{{ url_for('static', filename='images/clockwork_cluster_0.5x.png')}}" width='50%'>
      </div>

      <div class="col s2">
        <!-- spacing -->
      </div>
      <div class="col s3">
        <div class="cc_header_right_col">
          <div>
            <a href="https://docs.mila.quebec">Mila docs</a>
          </div>
          <div>
            <a href="https://dashboard.server.mila.quebec">Mila dashboard</a>
          </div>
        </div>
        <div class="cc_header_right_col">
          <div>
            <!-- TODO : add a conditional here in the template -->
            {% if mila_email_username: %}
              Logged as : {{mila_email_username}}
            {% else %}
              Not logged in.
            {% endif %}
          </div>
          <div>
            <a href="{{url_for('settings.route_index')}}">my settings</a>
            <!-- This would be fine, but it doesn't look good.
            <a href="/settings">
              <i class="material-icons">settings</i>
            </a>
            -->
          </div>
          <div>
            <a href="/login/logout">logout</a>
            <!-- This would be fine, but it doesn't look good.
              <a class="waves-effect waves-light btn-small grey darken-1" href="/login/logout">
              logout
              <i class="material-icons right">exit_to_app</i>
              </a>
            -->
          </div>
        </div>
        <div class="cc_header_right_col">
          <div>
            [link about ~this]
          </div>
          <div>
            [link for github code]
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}
    <!-- </div> -->
    <!--
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
    -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>
</html>