{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clockwise.css') }}">
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s1">
            <!-- spacing on the left -->
        </div>
        <div class="col s4">
            <h3>job state totals</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s1">
            <!-- spacing on the left -->
        </div>
        <div class="col s9" id="changeme">

            <!-- <h1>{{channel_title}}</h1> -->
            
            <table>
                <tr>
                    <th>mila_user_account</th>
                    <th>PENDING</th>
                    <th>RUNNING</th>
                    <th>ERROR</th>
                    <th>COMPLETED</th>
                </tr>
                {% for (mila_user_account, D) in LPD_job_state_totals %}
                <tr>
                    <td><a href="/jobs/{{mila_user_account}}"> {{mila_user_account}} </a></td>
                    <td>{{D['PENDING']}}</td>
                    <td>{{D['RUNNING']}}</td>
                    <td>{{D['ERROR']}}</td>
                    <td>{{D['COMPLETED']}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
