{% extends "base.html" %}
{% block title %} {{note_title}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {{extra_css}}
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jobs.js') }}"></script>
    <script>
        {% autoescape false %}
        {{extra_js}}
        {% endautoescape %}

    </script>

{% endblock %}
{% block content %}
    <div class="cc_subheader_banner">
        <div class="row">
            <div class="col s1">
                <!-- spacing on the left -->
            </div>
            <div class="col s3">
                <h4>jobs on clusters</h4>
            </div>

            <!-- dates -->
            <div class="col s1 cc_toggle_zone_column">
                <form action="#">
                    <div class="cc_toggle_zone_row" style="margin-left:20px">
                        <span>time</span>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input name="group1" type="radio" checked />
                            <span>1 hour</span>
                        </label>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input name="group1" type="radio" />
                            <span>1 day</span>
                        </label>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input name="group1" type="radio" />
                            <span>1 week</span>
                        </label>
                    </div>
                </form>
            </div>

            <!-- users -->
            <div class="col s1 cc_toggle_zone_column">
                <form action="#">
                    <div class="cc_toggle_zone_row" style="margin-left:20px">
                        <span>users</span>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input name="group3" type="radio" />
                            <span>all</span>
                        </label>
                    </div>
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input name="group3" type="radio" checked/>
                            <span>only me</span>
                        </label>
                    </div>                    
                    <!--
                    <div class="cc_toggle_zone_row">
                        <label>
                            <input name="group1" type="radio" disabled="disabled"/>
                            <span>dinosaurs</span>
                        </label>
                    </div>
                    -->
                </form>
            </div>

            <!-- toggling clusters -->
            <div class="col s2 cc_toggle_zone_column">
                <!-- toggle mila -->
                <div class="cc_toggle_zone_row">

                    <div class="cc_cluster_toggle_documentation_link">
                        <!-- <i class="tiny material-icons">assignment</i> -->
                        <a href="https://docs.mila.quebec">
                            <img src="{{ url_for('static', filename='images/outline_book_black_48dp.png') }}" />
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_grafana_link">
                        <a href="https://dashboard.server.mila.quebec/"> <!-- TODO : insert link to actual plot -->
                            <img src="{{ url_for('static', filename='images/grafana_logo.png') }}" />
                        </a>
                    </div>
                    <div class="cc_cluster_toggle_name">mila</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        <!-- Hide -->
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        <!-- Show -->
                        </label>
                    </div>
                </div>
                <!-- toggle beluga -->
                <div class="cc_toggle_zone_row">

                    <div class="cc_cluster_toggle_documentation_link">
                        <!-- <i class="tiny material-icons">assignment</i> -->
                        <a href="https://docs.computecanada.ca/wiki/Beluga">
                            <img src="{{ url_for('static', filename='images/outline_book_black_48dp.png') }}" />
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_grafana_link">
                        <a href="https://dashboard.server.mila.quebec/"> <!-- TODO : insert link to actual plot -->
                            <img src="{{ url_for('static', filename='images/grafana_logo.png') }}"/>
                        </a>
                    </div>
                    <div class="cc_cluster_toggle_name">beluga</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        <!-- Hide -->
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        <!-- Show -->
                        </label>
                    </div>
                </div>
                <!-- toggle cedar -->
                <div class="cc_toggle_zone_row">

                    <div class="cc_cluster_toggle_documentation_link">
                        <!-- <i class="tiny material-icons">assignment</i> -->
                        <a href="https://docs.computecanada.ca/wiki/Cedar">
                            <img src="{{ url_for('static', filename='images/outline_book_black_48dp.png') }}" />
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_grafana_link">
                        <a href="https://dashboard.server.mila.quebec/"> <!-- TODO : insert link to actual plot -->
                            <img src="{{ url_for('static', filename='images/grafana_logo.png') }}"/>
                        </a>
                    </div>
                    <div class="cc_cluster_toggle_name">cedar</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        <!-- Hide -->
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        <!-- Show -->
                        </label>
                    </div>
                </div>
                <!-- toggle graham -->
                <div class="cc_toggle_zone_row">

                    <div class="cc_cluster_toggle_documentation_link">
                        <!-- <i class="tiny material-icons">assignment</i> -->
                        <a href="https://docs.computecanada.ca/wiki/Graham">
                            <img src="{{ url_for('static', filename='images/outline_book_black_48dp.png') }}" />
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_grafana_link">
                        <a href="https://dashboard.server.mila.quebec/"> <!-- TODO : insert link to actual plot -->
                            <img src="{{ url_for('static', filename='images/grafana_logo.png') }}"/>
                        </a>
                    </div>

                    <div class="cc_cluster_toggle_name">graham</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        <!-- Hide -->
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        <!-- Show -->
                        </label>
                    </div>
                </div>
            </div>
            

            <!-- toggling status -->
            <div class="col s2 cc_toggle_zone_column">
                <!-- toggle mila -->
                <div class="cc_toggle_zone_row">
                    <div class="cc_cluster_toggle_name">running</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        Hide
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        Show
                        </label>
                    </div>
                </div>
                <!-- toggle beluga -->
                <div class="cc_toggle_zone_row">
                    <div class="cc_cluster_toggle_name">pending</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        Hide
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        Show
                        </label>
                    </div>
                </div>
                <!-- toggle cedar -->
                <div class="cc_toggle_zone_row">
                    <div class="cc_cluster_toggle_name">completed</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        Hide
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        Show
                        </label>
                    </div>
                </div>
                <!-- toggle graham -->
                <div class="cc_toggle_zone_row">
                    <div class="cc_cluster_toggle_name">any errors</div>
                    <div class="switch cc_cluster_toggle_subzone">
                        <label>
                        Hide
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        Show
                        </label>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col s1">
            <!-- spacing on the left -->
        </div>
        <div class="col s9" id="changeme">

            <!-- <h1>{{channel_title}}</h1> -->
            
            <table class="striped" id="table_98429387">
                <thead>
                    <tr>
                        <th>cluster_name</th>
                        <th>username (best guess)</th>
                        <th>job_id</th>
                        <th>job name (truncated)</th>
                        <th>job_state</th>
                    </tr>
                </thead>
                {% for e in LD_jobs %}
                <tr>
                    <td>{{e['cluster_name']}}</td>
                    <td><a href="/jobs/list/{{e['best_guess_for_username']}}"> {{e['best_guess_for_username']}} </a></td>
                    <td><a href="/jobs/single_job/{{e['job_id']}}"> {{e['job_id']}} </a></td>
                    <td>{{e.get('name', "")[:32]}}</td>
                    <td>{{e['job_state']}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
