
.filterOnOff {
    min-height: 30px;
    border-radius: 7px;
    padding:10px;
    padding-bottom:20px;
    margin:5px;
    float:left;
    background-color: linen;
}


.index_item {
    overflow:auto;
    margin:10px;
    padding:10px;
    border-width: 1px;
    border-color: rgb(197, 189, 182);
    border-radius: 10px;
    border-style: solid;
    background-color: linen;
}

.single_video_channel_name {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}

.single_video_title {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}

.single_video_other_header {
    font-size: medium;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}

.single_video_thumbnail {
    padding: 10px;
    background-color: linen;
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    border-width: 5px;
    border-style: solid;

    display: block;
    margin-left: auto;
    margin-right: auto;
}




.single_channel_channel_name {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}

.single_channel_other_header {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}
.single_channel_thumbnail {
    padding: 10px;
    background-color: linen;
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    border-width: 5px;
    border-style: solid;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


.settings_title {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}
.settings_thumbnail {
    padding: 10px;
    background-color: linen;
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    border-width: 5px;
    border-style: solid;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


.recent_week_title {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}
.recent_week_thumbnail {
    padding: 10px;
    background-color: linen;
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    border-width: 5px;
    border-style: solid;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


.note_body_as_markdown {
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    padding:10px;
    margin:10px;
    background-color: linen;
}
.note_body_as_markdown_textarea {
    white-space: pre-wrap;
}

.note_body_as_markdown2html {
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    padding:10px;
    margin:10px;
    background-color: linen;
}