
.cc_subheader_banner {
    background-color:thistle;
}

.cc_toggle_zone_column {
    /* margin: auto; */
    margin:10px;
    /* padding appears to have no effect on these elements
    padding-top: 10px;
    padding-bottom: 20px;
    */

    border-radius: 5px;
    border-width: 2px;
    border-color: #564C56;
    border-style: solid;
}

.cc_toggle_zone_row {
    /* margin: auto; */
    margin:2px;
}

.cc_cluster_toggle_grafana_link {
    display:inline-block;
}
.cc_cluster_toggle_grafana_link a img {
    height:12px;
}

.cc_cluster_toggle_documentation_link {
    display:inline-block;
}
.cc_cluster_toggle_documentation_link a img {
    height:12px;
}

.cc_cluster_toggle_name {
    display:inline-block;
    /*
    margin-left: 10px;
    margin-right: 10px;
    */
}

.cc_cluster_toggle_subzone {
    /* display:inline-block; */
    float: right;
}

.cc_toggle_zone_column {
    display:inline-block;
}


/* The toggle switches at the top of jobs listing.
   You can find the properties in static/css/materialize.css
   when looking for #84c7c1 and #26a69a.

   Inspired from
       https://stackoverflow.com/questions/50376587/making-two-materialize-switches-of-different-colors
*/

/*
.switch.cc_cluster_toggle_subzone label .lever {
    background-color: #9d7997;
 }
*/

/*
.switch.cc_cluster_toggle_subzone label input[type=checkbox] {
    background-color: thistle;
}
*/

/* for text? */
/*.switch.cc_cluster_toggle_subzone {
   color: black;
}
*/

/*
    https://color-hex.org/color/d8bfd8
    darker shades of "thistle"
    #978597
    #564C56

*/


.switch.cc_cluster_toggle_subzone label input[type=checkbox]:checked+.lever {
    background-color: #564C56;
 }
 .switch.cc_cluster_toggle_subzone label input[type=checkbox]:checked+.lever:after {
    background-color: #564C56;
 }

 /* some gold color : rgb(187, 175, 106) */

 /* looking at materialize.css */
 [type="radio"]:checked + span:after,
 [type="radio"].with-gap:checked + span:before,
 [type="radio"].with-gap:checked + span:after {
   border: 2px solid #564C56;
 }
 
 [type="radio"]:checked + span:after,
 [type="radio"].with-gap:checked + span:after {
   background-color: #564C56;
 }

 /* This is for the text in the "time" and "user" columns,
    but not the "hide/show" in the toggle switches for clusters and states.
    We want the former to be darker, and the latter to be less visible.
*/
 div.cc_toggle_zone_row label span {
    /*color:#2d292d;*/
    color:#564C56;
 }

div.cc_header_right_col {
    display:inline-block;
    padding-top:10px;
}
div.cc_header_right_col div {
    padding:5px;
}




.filterOnOff {
    min-height: 30px;
    border-radius: 7px;
    padding:10px;
    padding-bottom:20px;
    margin:5px;
    float:left;
    background-color: linen;
}


.index_item {
    overflow:auto;
    margin:10px;
    padding:10px;
    border-width: 1px;
    border-color: rgb(197, 189, 182);
    border-radius: 10px;
    border-style: solid;
    background-color: linen;
}

.single_video_channel_name {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}

.single_video_title {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}

.single_video_other_header {
    font-size: medium;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}

.single_video_thumbnail {
    padding: 10px;
    background-color: linen;
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    border-width: 5px;
    border-style: solid;

    display: block;
    margin-left: auto;
    margin-right: auto;
}




.single_channel_channel_name {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}

.single_channel_other_header {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}
.single_channel_thumbnail {
    padding: 10px;
    background-color: linen;
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    border-width: 5px;
    border-style: solid;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


.settings_title {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}
.settings_thumbnail {
    padding: 10px;
    background-color: linen;
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    border-width: 5px;
    border-style: solid;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


.recent_week_title {
    font-family: Neuton;
    font-size: large;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: linen;
}
.recent_week_thumbnail {
    padding: 10px;
    background-color: linen;
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    border-width: 5px;
    border-style: solid;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


.note_body_as_markdown {
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    padding:10px;
    margin:10px;
    background-color: linen;
}
.note_body_as_markdown_textarea {
    white-space: pre-wrap;
}

.note_body_as_markdown2html {
    border-radius: 10px;
    border-color: rgb(222, 207, 191);
    padding:10px;
    margin:10px;
    background-color: linen;
}