@charset "UTF-8";
/*
 ██████  ██████  ██       ██████  ██    ██ ██████  ███████ 
██      ██    ██ ██      ██    ██ ██    ██ ██   ██ ██      
██      ██    ██ ██      ██    ██ ██    ██ ██████  ███████ 
██      ██    ██ ██      ██    ██ ██    ██ ██   ██      ██ 
 ██████  ██████  ███████  ██████   ██████  ██   ██ ███████ 
*/
/*
 ██████  ██████  ███    ███ ███    ███  ██████  ███    ██ 
██      ██    ██ ████  ████ ████  ████ ██    ██ ████   ██ 
██      ██    ██ ██ ████ ██ ██ ████ ██ ██    ██ ██ ██  ██ 
██      ██    ██ ██  ██  ██ ██  ██  ██ ██    ██ ██  ██ ██ 
 ██████  ██████  ██      ██ ██      ██  ██████  ██   ████ 
*/
body {
  background: #19191b;
  color: #e8e8e8;
}

body, p, tr, td, label, input, a {
  -webkit-font-smoothing: subpixel-antialiased;
}

input[type=text], input[type=password], input[type=email], textarea, pre, select, .input-group-addon {
  background: black !important;
  color: #e8e8e8 !important;
}

input[type=text], input[type=password], input[type=email], select, .input-group-addon {
  border-color: #424249 !important;
}

a, a:visited {
  color: #54abb4;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover, a:visited:hover {
  color: #8a5e8a;
}

div.title {
  color: #e8e8e8;
}

.navbar-collapse .navbar-nav a.nav-link {
  color: white;
}
.navbar-collapse ul.dropdown-menu {
  color: #f3f3f3;
  background: #2a2a2e;
}
.navbar-collapse ul.dropdown-menu a {
  color: #54abb4;
}

.top {
  background: #2a2a2e;
  border-bottom: 1px solid #444;
}

#formBlock {
  background-image: url(../images/dark-top_bg.png);
}

#mainCollapse {
  border-top: 0;
}
#mainCollapse h1 a {
  color: #e8e8e8;
}
#mainCollapse:after {
  background: rgb(25, 25, 27);
  background: linear-gradient(0deg, rgb(25, 25, 27) 0%, rgba(25, 25, 27, 0) 100%);
}

.searchform .cc_toggle_zone_column {
  border: 1px solid #444;
}
.searchform .row .col-md-4:nth-child(2) .cc_toggle_zone_row:nth-child(even),
.searchform .row .col-md-4:nth-child(3) .cc_toggle_zone_row:nth-child(even) {
  background: #2a2a2e;
}
.searchform .cc_toggle_zone_row a i[title="Cluster documentation"] {
  color: #e8e8e8;
}
.searchform .cc_toggle_zone_row a:hover i {
  color: #8a5e8a;
}

.form-switch .form-check-input {
  background-color: #5b5b63;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
  background-color: #6f0070;
  border-color: #6f0070;
}

.form-radio .form-check-input:checked {
  background-color: #6f0070;
  border-color: #6f0070;
}

.form-radio .form-check-input:focus, .form-radio .form-check-input:active {
  background: #6f0070;
  box-shadow: 0 0 0 0.25rem #9bced3;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  box-shadow: 0 0 0 0.25rem #9bced3;
}

table.table-striped {
  background: #2a2a2e;
  color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table.table-striped tr:last-of-type {
  border-bottom: 1px solid #2a2a2e;
}
table.table-striped td {
  border-bottom: 1px solid #121213;
}
table.table-striped td:first-of-type {
  border-left: 1px solid #2a2a2e;
}
table.table-striped td:last-of-type {
  border-right: 1px solid #2a2a2e;
}
table.table-striped.table-hover > tbody > tr:hover > * {
  background: #202023;
  color: #e8e8e8;
}

table.table-striped td.links a,
.cc_cluster_toggle_subzone .form-check-label td.links a {
  color: #e8e8e8;
}
table.table-striped thead,
.cc_cluster_toggle_subzone .form-check-label thead {
  background: #54abb4;
  background: -webkit-linear-gradient(left, #54abb4, #4c7ca3);
  background: -moz-linear-gradient(left, #54abb4, #4c7ca3);
  background: linear-gradient(to right, #54abb4, #4c7ca3);
  color: white;
}

ul.pagination li a, ul.pagination li span {
  color: #e8e8e8;
  background: #2a2a2e;
  border-color: #444;
}
ul.pagination li a:focus, ul.pagination li a:hover, ul.pagination li span:focus, ul.pagination li span:hover {
  box-shadow: none;
  color: #6f0070;
  background: #444;
  border-color: #444;
}
ul.pagination li span.ellipses {
  color: black;
  background: #424249;
}
ul.pagination li.current span, ul.pagination li.current a {
  color: #e8e8e8;
  background: #6f0070;
}
ul.pagination li:first-child span, ul.pagination li:last-child span {
  background: #424249;
  color: black;
}

dt, dd {
  border-color: #424249 !important;
}

/*
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
*/
#footer {
  background: #2a2a2e;
  border-top: 1px solid black;
  color: #f3f3f3;
}
#footer .col-6:last-of-type a {
  color: #e8e8e8;
}

/*# sourceMappingURL=darkmode.css.map */
