
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
div.main {
    background-color: antiquewhite;
}

/*
    This is done to counter the "display:none;" of materialize.css
    (to be updated when setting the design)
*/
.cw-select {
  display: inline-block;
}
